<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionalidades - FlowCerti</title>
    
    <link rel="icon" type="image/png" href="Imagem/footer/logo_pequena.png">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/funcionalidades.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <a href="/"><img class="logo" src="/Imagem/header/logo.png" alt="logo"></a>
        <nav class="menu">
            <div class="menu-item">
                <div class="menu-principal">
                    <a href="/sobre">Sobre a Empresa</a>
                    <a href="/funcionalidades">Funcionalidades</a>
                    <a href="">Dashbord</a>
                    <a href="/planos">Planos</a>
                </div>
            </div>

            <div class="menu-item">
                <div class="menu-demonstracao">
                    <a href="/solicitar">Solicitar Demonstração</a>
                </div>
            </div>
             <% if (locals.user) { %>
            <div class="menu-item">
            <div class="menu-notificacao">
                <img class="menu-notificacao-img" src="Imagem/header/icon_notificacao_tema_escuro.png" alt="notificacao">
                <div class="submenu-notificacao">
                    <p>Nenhuma notificação encontrada</p>
                </div>    
                </div>   
            </div>
                <% } %>

            <div class="menu-item"> 
                <div class="menu-hamburguer" id="menuHamburguer">
                    <img class="menu-hamburguer-img" src="Imagem/header/icon_hamburguer_tema_escuro.png" alt="menu hamburguer">

                    <div class="submenu-hamburguer">
                        <% if (locals.user) { %>
                            <!-- Usuário logado -->
                            <a id="submenu-hamburguer-entrar" class="submenu-hamburguer-item">
                                <span>Olá, <%= locals.user.user.charAt(0).toUpperCase() + locals.user.user.slice(1) %></span>
                            </a>
                            <a class="submenu-hamburguer-item" href="/minha-conta"><span>Ver Minha Conta</span></a>
                            <a href="#">
                                <img class="menu-hamburguer-img-central-de-ajuda" src="/Imagem/header/submenu_hamburguer/icon_central_de_ajuda_tema_escuro.png" alt="central de ajuda">
                                <span>Central de Ajuda</span>
                            </a>
                            <a href="/documentos">
                                <img class="menu-hamburguer-img-documento" src="/Imagem/header/submenu_hamburguer/icon_documentos_tema_escuro.png" alt="documentos">
                                <span>Documentos</span>
                            </a>
                            <a class="submenu-hamburguer-item" href="/logout">
                                <img class="menu-hamburguer-img-documento" src="/Imagem/header/submenu_hamburguer/icon_exit" alt="Sair">
                                <span>Sair</span>
                            </a>
                        <% } else { %>
                            <!-- Usuário deslogado -->
                            <a id="submenu-hamburguer-entrar" class="submenu-hamburguer-item" href="/login">
                                <span>Entrar</span>
                            </a>
                        <% } %>

                        <!-- Sempre visível se estiver deslogado ou nao-->
                        <div id="submenu-hamburguer-tema-claro" class="submenu-hamburguer-item">
                            <img class="menu-hamburguer-img-tema-claro" src="/Imagem/header/submenu_hamburguer/icon_tema_claro.png" alt="tema claro">
                            <span>Tema Claro</span>
                        </div>   
                    </div> 
                </div> 
            </div>
        </nav>
    </header>

    <section class="funcionalidades">
        <div class="cards-container-funcionalidades">
            <!-- Card 1 -->
            <div class="card-funcionalidades">
                <h3 class="titulo-card-funcionalidades">Monitoramento de prazos</h3>
                <p class="texto-card-funcionalidades">Receba alertas automáticos e antecipados sobre vencimentos, pendências e atualizações. O monitoramento mantém você no controle dos prazos da certificação, evitando atrasos e problemas que comprometam a conformidade.</p>

                <a href="#" class="sabia-mais-card-funcionalidades">Saiba Mais</a>
            </div>

            <!-- Card 2 -->
            <div class="card-funcionalidades">
                <h3 class="titulo-card-funcionalidades">Gestão de requisitos</h3>
                <p class="texto-card-funcionalidades">Centralize os requisitos documentais com checklists que mostram claramente o que cada documento deve conter. Assim, você identifica rapidamente o que falta, reduz retrabalho e garante maior conformidade nas auditorias.</p>

                <a href="#" class="sabia-mais-card-funcionalidades">Saiba Mais</a>
            </div>

            <!-- Card 3 -->
            <div class="card-funcionalidades">
                <h3 class="titulo-card-funcionalidades">Armazenamento de Documentos</h3>
                <p class="texto-card-funcionalidades">Organize toda a documentação da certificação em pastas criadas por você. Assim, na hora de uma consultoria ou auditoria, todos os arquivos estarão centralizados e prontos para acesso, sem complicação.</p>

                <a href="#" class="sabia-mais-card-funcionalidades">Saiba Mais</a>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-container">
            
            <!-- Coluna Sobre -->
            <div class="footer-colunas footer-sobre">
                <h3 class="footer-titulo" id="footer-titulo-sobre">SOBRE</h3>

                <div class="footer-sobre-inner">

                    <!-- Lado esquerdo: logo + redes sociais -->
                    <div class="footer-sobre-left">
                        <img src="Imagem/footer/logo_pequena.png" alt="Logo" class="footer-logo">

                        <div class="footer-social">
                            <a href="#"><img id="footer-redes-sociais-instagram" src="Imagem/footer/icon_instagram.png" alt="Instagram"></a>
                            <a href="#"><img id="footer-redes-sociais-youtube" src="Imagem/footer/icon_youtube.png" alt="YouTube"></a>
                            <a href="#"><img id="footer-redes-sociais-linkedin" src="Imagem/footer/icon_linkedin.png" alt="LinkedIn"></a>
                        </div>
                    </div>     
                    
                    <!-- Lado direito: texto -->
                    <div class="footer-sobre-text">
                        <p>A FlowCerti é uma plataforma que moderniza a gestão de certificações empresariais. Reduzimos a burocracia, organizamos processos e garantimos conformidade com eficiência, segurança e confiabilidade.</p>
                    </div>
                </div>
            </div>
                
            <!-- Coluna Acesso Rápido -->
            <div class="footer-colunas">
                <h3 class="footer-titulo">ACESSO RÁPIDO</h3>
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Perguntas frequentes</a></li>
                    <li><a href="#">Centro de ajuda</a></li>
                </ul>
            </div>

            <!-- Coluna Acessos Buscados -->
            <div class="footer-colunas">
                <h3 class="footer-titulo">ACESSOS BUSCADOS</h3>
                <ul>
                    <li><a href="#">DashBoard</a></li>
                    <li><a href="#">Solicitar Demonstração</a></li>
                    <li><a href="#">Documentos</a></li>
                </ul>
            </div>

            <!-- Coluna Institucional -->
            <div class="footer-colunas">
                <h3 class="footer-titulo">INSTITUCIONAL</h3>
                <ul>
                    <li><a href="#">Termos e uso</a></li>
                    <li><a href="#">Política de privacidade</a></li>
                </ul>
            </div>
        </div>

        <!-- COPYRIGHT -->
        <div class="footer-copyright">
            <span>Copyright © FlowCerti 2025</span>
        </div>
    </footer>
    
    <script src="/assets/js/script.js"></script>
</body>
</html>