<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planos - FlowCerti</title>
    
    <link rel="icon" type="image/png" href="Imagem/footer/logo_pequena.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/planos.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
 <%- include("includes/header", { user: user }) %>

    <!-- Breadcrumb -->
    <ul class="breadcrumb">
        <li><a href="/">Início</a></li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#cccccc" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
        </li>
        <li class="current">Planos</li>
    </ul>


    <!-- ===== Seção Hero / Destaque Planos ===== -->
    <section class="hero-planos">
        <div class="hero-planos-container">

            <!-- Texto -->
            <div class="hero-planos-text">
                <h2>Gerenciamento fácil de certificações ISO</h2>
                <p>Gerencie certificações de forma inteligente, sem burocracia e sem preocupação!</p>
                <a href="/solicitar" class="btn-hero-planos">SOLICITE DEMONSTRAÇÃO</a>
            </div>

            <!-- Imagem -->
            <div class="hero-planos-image">
                <img src="Imagem/planos/icon_solicitar_demonstacao.png" alt="Solicitar Demonstração">
            </div>
        </div>
    </section>

    
    <section class="planos-container">
        <div class="plano-box">
            <h2>Plano Básico</h2>
            <ul>
                <li><span class="icon">✔</span> Acesso completo à plataforma</li>
                <li><span class="icon">✔</span> Gestão por 30 dias de certificação</li>
                <li><span class="icon">✔</span> Monitoramento de prazos</li>
                <li><span class="icon">✔</span> Gestão de requisitos</li>
                <li><span class="icon">✔</span> Armazenamento de Documentos</li>
            </ul>
            <button class="btn-obter-plano">Obter Plano</button>
         </div>

        <div class="plano-box">
            <h2>Plano Premium</h2>
            <ul>
                <li><span class="icon">✔</span> Acesso completo à plataforma</li>
                <li><span class="icon">✔</span> Gestões ilimitadas de certificações</li>
                <li><span class="icon">✔</span> Monitoramento de prazos</li>
                <li><span class="icon">✔</span> Gestão de requisitos</li>
                <li><span class="icon">✔</span> Armazenamento de Documentos</li>
            </ul>
            <a href="/plano_premium" class="btn-escolher-plano">Plano Premium</a>
        </div>
    </section>



    <div class="info-extra-planos">
        <div class="info-extra-container-planos">
            <div class="info-box-planos">
                <h3>Quais são as funcionalidades?</h3>
                <p>Acesse a aba Funcionalidades e descubra os recursos que tornam a Flowcerti a solução ideal para a gestão de certificações. Confira cada funcionalidade detalhada em vídeos explicativos que mostram na prática como a plataforma pode transformar os processos da sua empresa.</p>
                <a href="/funcionalidades" class="btn-funcionalidades-planos">Funcionalidades</a>
            </div>

            <div class="info-box-planos">
                <h3>Quer saber sobre a Empresa?</h3>
                <p>Conheça a nossa história e como surgiu a Flowcerti. Acesse a aba Sobre a Empresa e entenda como transformamos um projeto acadêmico em uma plataforma inovadora de gestão de certificações, ajudando empresas a eliminar barreiras burocráticas e a se preparar com eficiência para auditorias.</p>
                <a href="/sobre" class="btn-sobre-a-empresa-planos">Sobre a Empresa</a>
            </div>
        </div>
    </div>

    <%- include('includes/footer') %>

    <script src="/assets/js/planos.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>